* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 18px;
    background-color: #ab226d;
    position: relative;
    animation: girar 10s linear 1;
    /* animation: girar / duration / timing-function / delay / iteration-count / direction / fill-mode; */
}

.logo .maiorq {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%) rotate(45deg);
}

.logo .maiorq::after,
.logo .maiorq::before {
    content: "";
    width: 30px;
    height: 8px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.logo .maiorq::before {
    width: 8px;
    height: 30px;
    left: initial;
    right: 0;
}

.logo .underline {
    width: 25px;
    height: 7px;
    background-color: white;
    position: absolute;
    bottom: 30px;
    right: 20px;
}

/* 
360
720
1080
1440
1800
2160
2520
2880
 */

/* @keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(3600deg);
    }

    20% {
        transform: rotate(6840deg);
    }

    30% {
        transform: rotate(9720deg);
    }

    40% {
        transform: rotate(12240deg);
    }

    50% {
        transform: rotate(14400deg);
    }

    60% {
        transform: rotate(16200deg);
    }

    70% {
        transform: rotate(17640deg);
    }

    80% {
        transform: rotate(18720deg);
    }

    90% {
        transform: rotate(19440deg);
    }

    100% {
        transform: rotate(19800deg);
    }
} */
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(deg);
    }

    20% {
        transform: rotate(deg);
    }

    30% {
        transform: rotate(deg);
    }

    40% {
        transform: rotate(deg);
    }

    50% {
        transform: rotate(deg);
    }

    60% {
        transform: rotate(deg);
    }

    70% {
        transform: rotate(deg);
    }

    80% {
        transform: rotate(deg);
    }

    90% {
        transform: rotate(deg);
    }

    100% {
        transform: rotate(deg);
    }
}